h1 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.h2-custom {
    margin-top: 50px;
}

.line {
    margin-bottom: 150px;
}

a {
    text-decoration: none;
}

.bar {
    margin-bottom: 150px;
    overflow: auto;
    white-space: nowrap;
}

.subtitle {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 15px;
}
body {
    font-family: 'Montserrat', sans-serif;
}

main {
    margin-top: 75px;
}

.headerEntry {
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
}

b {
    color: red;
}

.center {
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }

.grid-container {
    display: inline-grid;
    grid-template-columns: auto auto auto auto;
    flex-wrap: nowrap;
    width: 100%;
    margin-bottom: 75px;
}

.grid-container-3 {
    display: inline-grid;
    grid-template-columns: auto auto auto;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: space-evenly;
    justify-items: center;
    margin-bottom: 200px;
}

.grid-container-5 {
    display: inline-grid;
    grid-template-columns: auto auto auto auto auto;
    flex-wrap: nowrap;
    width: 100%;
    margin-bottom: 20px;
    justify-content: space-evenly;
}

.grid-item {
    text-align: center;
    min-width: "75%";
    margin-top: 10px;
}

.grid-item-2 {
    margin-left: 40px;
    margin-right: 40px;
}

.grid-item-3{
    margin-left: 0px;
    margin-right: 0px;
}

.highmap {
    margin-bottom: 150px;
}

.btn {
    border: 1 solid;
    outline: 2px solid;
    outline-color: rgba(255, 255, 255, .5);
    outline-offset: 0px;
    text-shadow: none;
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}

.mapdesc {
    margin-top: 0px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 150px;
}

.desc {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 15px;
}

.clickdesc {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;

}